body {
    font-family: 'Arial', sans-serif;
    font-size: large;
    transition: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    z-index: 1;
}
 
/* General styles for anchor tags */
a {
    text-decoration: none;
    color: #000000;
    padding: 10px 10px;
    margin: 0;
    /* transition: color 0.3s ease, background-color 0.3s ease; */
}

/* Navigation link styles */
.nav-links a:hover {
    color: #ffffff;
    background-color: #3eb3f2;
    border-radius: 20px;
}

/* Header styling */
header {
    background-color: #ffffff; /* IEEE Blue */
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Container styling */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo styling */
.logo img {
    height: 50px;
    margin-right: 20px;
}

/* Navigation link container */
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Individual navigation link items */
.nav-links li {
    padding: 15px;
    display: block;
    color: #000000;
    position: relative;
}

/* Dropdown content styling */
.dropdown_content {
    position: absolute;
    display: none;
    z-index: 10;
    background: #3eb3f2; /* Off-white shade */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px 0;
    width: max-content;
    margin-top: 12px;
}

/* Dropdown content items */
.nav-links .dropdown_content li {
    color: #000000;
    padding: 10px 20px;
    white-space: nowrap;
    transition: all 0.3s ease;
    border-radius: 20px;
}

/* Show dropdown on hover */
li.dropdown:hover .dropdown_content {
    display: block;
}

/* Specific region link hover effect */
.specific-region a:hover {
    background-color: #ffffff;
}

.specific-region a {
    background-color: #ffffff;
}

/* Adding smooth transitions for hover effects */
.nav-links li, .dropdown_content li {
    transition: all 0.3s ease;
}

/* Dropdown content items without general anchor styles */
.nav-links .dropdown_content a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    white-space: nowrap;
    display: block;
    transition: all 0.3s ease;
}

/* Dropdown hover effect */
.nav-links .dropdown_content a:hover {
    background-color: #3eb3f2;
    color: #ffffff;
}






.hamburger{
    display: none;
}


@media (max-width: 1154px) {
    header {
        padding: 10px;
    }

    .hamburger {
        display: block;
    }

    .hamburger img {
        width: 40px;
        height: auto;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 74px; /* Adjust as needed */
        left: 0;
        width: 100%;
        background-color: #333;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /*Optional: adds a shadow*/
        z-index: 4; /* Ensure nav panel is above other content */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .nav-links li {
        padding: 10px;
        border-bottom: 1px solid #555;
    }

    .nav-links li a {
        color: #fff;
        text-decoration: none;
        /* margin: 100%; */
        /* transition: color 0.3s ease; */
    }

    .nav-links a:hover {
        all: unset;
        text-decoration: underline;
        color: #fff;
        transition: none;
    }

    .about-text {
        padding: 20px;
        font-size: 1.0em;
        line-height: 1.5;
        color: #555;
        font-family: 'Open Sans', sans-serif;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin-right: 10px;
        max-width: 100%;
        /* transition: transform 0.3s ease-in-out; */
        display: flex;
        /* justify-content: center; */
        margin-left: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about-image img {
        max-width: 100%;
        height: 100%;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .about-image img:hover {
        transform: none;
    }
}

@media (max-width: 440px) {
    header {
        padding: 10px;
    }

    .hamburger {
        display: block;
    }

    .hamburger img {
        width: 20px;
        height: auto;
        margin-right: -9px;
    }

    .logo img {
        height: 50px;
        margin-right: 10px;
        margin-left: -20px;
        padding-left: -10%;
    }

    .about-text {
        padding: 20px;
        font-size: 1.0em;
        line-height: 1.5;
        color: #555;
        font-family: 'Open Sans', sans-serif;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin-right: 5px;
        max-width: 100%;
        display: unset;
        margin-left: 5px;
        margin-top: 130px;
        margin-bottom: 150px;
    }

    .about-image img {
        max-width: 200%;
        height: auto;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .about-image img:hover {
        transform: none;
    }


    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        width: 45%;
        background-color: #e0d0e3;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        left: 190px;
    }

    .nav-links li {
        padding: 10px;
        width: 89%;
        border-bottom: 1px solid #eaeaea;
        border-radius: 5px;
    }

    .nav-links li:last-child {
        border-bottom: none;
    }

    .nav-links li a {
        display: block;
        width: 100%;
        padding: 15px;
        color: #333333;
        font-weight: 500;
        border-radius: 5px;
        margin: -10px;
    }

    .nav-links li a:active {
        background-color: #2a8dc0; 
        color: #ffffff; 
        padding: 15px; 
        margin: -10px; 
    }

    .nav-links li a:hover {
        background-color: #e0d0e3;
        color: #000000;
    }

    .dropdown_content {
        position: relative;
        display: none;
        background: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 10px 0;
        margin-top: 10px;
        width: 85%;
        overflow: hidden;
    }

    .nav-links .dropdown_content li {
        padding: 10px;
        width: 100%;
        border-bottom: 1px solid #eaeaea;
        border-radius: 5px;
    }

    .nav-links .dropdown_content li:last-child {
        border-bottom: none;
    }

    .nav-links .dropdown_content a {
        padding: 10px;
        display: block;
        width: 100%;
        color: #333333;
        font-weight: 500;
        border-radius: 5px;
        display: block;
        padding: 0px;
        margin: 5px -5px;
        background-color: #ffffff;
        border-radius: 5px;
    }

    .nav-links .dropdown_content {
        padding: 0 15px;
        margin-top: 10px;
        border-radius: 10px;
        overflow: hidden;
    }

    .nav-links .dropdown_content a:hover {
        background-color: #ffffff;
        color: #000000;
    }

}



