

/*Main content*/
.team {
    text-align: center;
    padding: 50px 20px;
    background: url('bckgrd.jpg'); /* Ensure the path is correct */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-y: auto; /* Allow vertical scrolling */
    margin: 0px;
}

/*ExeCom 2024 Members*/
.team h2 {
    margin-bottom: 65px;
    margin-top: -10px;
    font-size: 60px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.team ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.team li {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 200px;
    text-align: center;
}
.team img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
}
.team a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.team a:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}
.team p {
    margin: 0;
    color: #000000;
}